In [116]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
import pandas as pd
import time
from datetime import datetime

In [117]:
driver=webdriver.Chrome(r"D:\adobe\chromedriver\chromedriver-win64\chromedriver.exe")

website= 'https://web.sensibull.com/stock-market-calendar?tab=stock-results'

In [118]:
driver.get(website)
time.sleep(3)

In [119]:
# Use the XPath expression to find the elements containing the date information
date_elements = driver.find_elements_by_xpath(
    "//div[contains(@class, 'rt-tbody')]/div[contains(@class, 'rt-tr-group')]/div[contains(@class, 'rt-tr')]/div[contains(@class, 'rt-td')][1]/div/div[1]"
)
time.sleep(5)

In [120]:
a=[]
# Extract and print the date information
for date_element in date_elements:
    date_info = date_element.text
    a.append(date_info)
    #print(date_info)

In [121]:
a = [item for item in a if item != '']

In [122]:
#len(a)

In [123]:
# Use the modified XPath expression to find the elements containing the company names
company_elements = driver.find_elements_by_xpath(
    "//div[contains(@class, 'rt-tbody')]/div[contains(@class, 'rt-tr-group')]/div[contains(@class, 'rt-tr')]/div[contains(@class, 'rt-td')][2]/div/div"
)

In [124]:
company_elements=company_elements[24:]
c=[]
# Extract and print the company names
for company_element in company_elements:
    company_name = company_element.text
    c.append(company_name)

In [125]:
#len(c)

In [126]:
# Use the modified XPath expression to find the elements containing the information within <small> and <span>
info_elements = driver.find_elements_by_xpath(
    "//div[contains(@class, 'rt-tbody')]/div[contains(@class, 'rt-tr-group')]/div[contains(@class, 'rt-tr')]/div[contains(@class, 'rt-td')][2]/div/small"
)

atm_pr=[]
# Extract and print the information within <small> and <span>
for info_element in info_elements:
    info_text = info_element.text
    atm_pr.append(info_text)

In [127]:
#len(atm_pr)

In [128]:
# Use the modified XPath expression to find the elements containing the information within nested <div> elements
nested_div_elements = driver.find_elements_by_xpath(
    "//div[contains(@class, 'rt-tbody')]/div[contains(@class, 'rt-tr-group')]/div[contains(@class, 'rt-tr')]/div[contains(@class, 'rt-td')][3]/div/div[1]"
)

atm_iv =[]
# Extract and print the information within nested <div> elements
for nested_div_element in nested_div_elements:
    nested_div_text = nested_div_element.text
    atm_iv.append(nested_div_text)

In [129]:
#len(atm_iv)

In [130]:
# Use the modified XPath expression to find the elements containing the information within nested <div> elements
nested_div_elements = driver.find_elements_by_xpath(
    "//div[contains(@class, 'rt-tbody')]/div[contains(@class, 'rt-tr-group')]/div[contains(@class, 'rt-tr')]/div[contains(@class, 'rt-td')][3]/div/div[2]"
)

atm_ivp =[]
# Extract and print the information within nested <div> elements
for nested_div_element in nested_div_elements:
    nested_div_text = nested_div_element.text
    atm_ivp.append(nested_div_text)

In [131]:
len(atm_ivp)

95

In [132]:
Final_df = pd.DataFrame({ "Date of Result" :a,
    
                        "Script" :c,

                          "ATM Price" : atm_pr,

                          "ATM IV" :atm_iv,
                          "IVP" : atm_ivp

})

ValueError: All arrays must be of the same length

In [133]:
Final_df

,Date of Result,Script,ATM Price,ATM IV,IVP,Atm call iv,Atm call chng
0,20 Jan,CANFINHOME,768.45 ( +0.10% ),36.2( -21.2),65,36.2,-21.2
1,20 Jan,Kotak Mahindra Bank Ltd.,1810.70 ( +0.26% ),22.9( -18.5),92,22.9,-18.5
2,20 Jan,IDFCFIRSTB,88.05 ( +0.11% ),48.1( -3.1),100,48.1,-3.1
3,20 Jan,PERSISTENT,7940.00 ( +0.24% ),67.5( +1.5),100,67.5,1.5
4,20 Jan,ICICI Bank Ltd.,1013.00 ( +0.29% ),40.6( -2.8),100,40.6,-2.8
...,...,...,...,...,...,...,...
90,12 Feb,MOTHERSON,107.35 ( -0.05% ),33.4( -10.7),53,33.4,-10.7
91,13 Feb,Bosch Ltd.,23050.55 ( -0.12% ),23.9( +5.6),57,23.9,5.6
92,13 Feb,Hindalco Industries Ltd.,559.50 ( -0.18% ),23.5( -6.4),10,23.5,-6.4
93,14 Feb,CROMPTON,311.00 ( +0.34% ),30.9( -3.1),40,30.9,-3.1
94,20 Feb,ABB,4734.50 ( -0.21% ),29.1( -3.7),63,29.1,-3.7

## Random filtering

In [134]:
Final_df['Atm call iv']= Final_df['ATM IV'].str.split( "(").str[0]
Final_df['Atm call chng'] =Final_df['ATM IV'].str.split( "(").str[1].str[:-1]

In [135]:
Final_df['Atm call iv']= Final_df['Atm call iv'].astype(float)
Final_df['Atm call chng'] =Final_df['Atm call chng'].astype(float)

## Sort based on the req

In [136]:
Final_df.sort_values(by = ["Atm call iv","Atm call chng"])

,Date of Result,Script,ATM Price,ATM IV,IVP,Atm call iv,Atm call chng
54,30 Jan,Larsen & Toubro Ltd.,3635.50 ( +0.15% ),13.0( -8.4),0,13.0,-8.4
81,07 Feb,TATACONSUM,1150.05 ( -0.10% ),14.3( -8.0),8,14.3,-8.0
61,31 Jan,Sun Pharmaceutical Industries Ltd.,1329.70 ( +0.14% ),15.5( -5.2),21,15.5,-5.2
76,05 Feb,Bharti Airtel Ltd.,1122.25 ( -0.03% ),15.6( -4.3),20,15.6,-4.3
59,31 Jan,Maruti Suzuki India Ltd.,9968.10 ( +0.02% ),15.7( -5.6),8,15.7,-5.6
...,...,...,...,...,...,...,...
67,01 Feb,ABBOTINDIA,25287.50 ( +0.32% ),59.0( +33.0),100,59.0,33.0
5,20 Jan,JKCEMENT,3975.05 ( -0.56% ),65.0( +35.8),100,65.0,35.8
3,20 Jan,PERSISTENT,7940.00 ( +0.24% ),67.5( +1.5),100,67.5,1.5
8,22 Jan,COFORGE,6317.00 ( +0.26% ),78.3( +18.4),100,78.3,18.4
35,25 Jan,IEX,142.65 ( +0.11% ),126.4( +81.2),100,126.4,81.2

## Filtered df as per next 7 days

In [137]:
#Get the current date
current_date = datetime.now().date()

In [138]:
driver.quit()